log_level        {{ .LogLevel}}
log_location     {{ .LogLocation}}
chef_server_url  "{{ .ChefServerUrl}}"
validation_client_name "{{ .ValidationClientName}}"
node_name "{{ .NodeName }}"
validation_key "/home/cloud-user/validation.pem"